@charset "UTF-8";

/* ------- fonte da pagina  ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* --------- variaveis ------ */

:root {
    --fonte-padrao: 'Roboto', sans-serif;

    /*----- cores ----*/
    --cor01: #52a4e8b3;
    --cor02: #41ABFF;
    --cor03: #008FFF;
    --cor04: #0072CC;
    --cor05: #00477F;
}

/* ------------------ regra da pagina ---------------- */

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: var(--fonte-padrao);
}


/* --------------- cabeçalho da pagina -------------- */

header {
    background-color: #2a2a2a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

#logo div {
    background-image: linear-gradient(to left, var(--cor01), var(--cor04));
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: .8s;
    margin-left: 20px;
}

#logo div:hover {
    transform: scale(0.6);
}

#menu>ul {
    display: flex;
    padding-right: 30px;
}

#menu>ul>li>a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    transition: .8s;
}

#menu>ul>li>a:hover {
    background-color: var(--cor03);
    border-radius: 30px;
}

h2#botao-menu {
    display: none;
}


/* ---------------------- main e body da pagina ------------------- */

div.article-conteudo {
    max-width: 1100px;
    margin: auto;
}

article h2,
h3 {
    line-height: 1.5em;
}

article p {
    text-align: justify;
    line-height: 1.6em;
}

/* -------------------- area de destaque da pagina ----------------- */

section#destaque {
    background-image: url(../imagens/imagem\ de\ fundo\ -\ gestor.jpg);
    box-shadow: 0px 4px 10px #272727d0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 13% 20px 7% 20px;
}

section#destaque h2 {
    color: var(--cor03);
    text-shadow: 7px 4px 4px #272727d0;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 30px;
}

section#destaque p {
    color: white;
    text-shadow: 3px 3px 3px #272727d0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* ---- link para chamada ---- */
.link-destaque a {
    background-color: var(--cor04);
    color: white;
    font-weight: bold;
    text-shadow: none;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 90px;
    transition: .7s;
}

.link-destaque {
    transition: .8s;
}

.link-destaque:hover {
    transform: scale(0.7);
}

.link-destaque a:hover {
    background-image: linear-gradient(to left, var(--cor04), var(--cor05));
}


/* ------- beneficios de um gestor de trafego --------------- */
article#beneficios {
    background-color: var(--cor04);
    border-bottom: 4px solid #ffffff88;
    padding: 10% 20px;
}

article#beneficios h2 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 3px 3px #272727d0;
    text-align: center;
}

article#beneficios p {
    font-size: 18px;
    color: white;
}

span.beneficio-sub>p {
    color: #838383;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px auto;
    font-size: 23px;
}

div.sobre-beneficios img {
    box-shadow: 3px 3px 12px #2a2a2a8c;
    margin: 3% auto;
}

/* ---------- sobre BENEFÍCIOS - display flex ---------- */
div.sobre-beneficios {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 20px;
}

div.sobre-beneficios h3 {
    color: #242323;
    font-size: 25px;
    margin-bottom: 10px;
}


/* ------ area sobre investimento ------ */
article#investimento {
    background-color: var(--cor03);
    padding: 10% 20px;
    border-bottom: 4px solid #ffffff88;
}

article#investimento p {
    color: white;
}

/* ---------- AUDIÊNCIA - display flex ---------- */
article#audiencia {
    background-color: var(--cor04);
    padding: 10% 20px;
}

div.sobre-audiencia {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 10px;
}

article#audiencia h3 {
    color: #242323;
    font-size: 30px;
    margin-bottom: 5px;
}



article#audiencia p {
    color: white;
}

article#audiencia img {
    box-shadow: 3px 3px 12px #2a2a2a8c;
}

/* ---------- pronto para aumentar seu tráfego ? ----------- */

article#pontos-trafego {
    background-color: #d3d3d3;
    padding: 10% 20px 2% 20px;
    border-bottom: 4px solid #ffffff88;
}

article#pontos-trafego h2 {
    font-size: 3em;
    text-shadow: 1px 3px 3px #272727d0;
    text-align: center;
    color: var(--cor04);
    margin-bottom: 30px;
}

/* diplat - */

div.sobre-pontos {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

div.sobre-pontos02 {
    margin: 5% auto;
}

/* area de marketing imagens duplas */
article#marketing {
    background-color: var(--cor01);
    padding: 5% 20px;
}

article#marketing h2 {
    color: white;
    text-shadow: 1px 3px 3px #272727d0;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}

article#marketing img {
    box-shadow: 3px 3px 12px #2a2a2a8c;
}

div.box-marketing {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;

}


/* area de contato da pagina - formulário e informação */

article#contato {
    background-image: linear-gradient(to left, var(--cor01), var(--cor03), var(--cor05));
    padding: 10% 20px;
}

.sobre-contato {
    display: grid;
    grid-template-columns: 500px auto;
}

article#contato h2 {
    font-size: 3em;
    text-shadow: 1px 3px 3px #272727d0;
    color: white;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.box-form img {
    width: 20%;
}

/* estilo do formulário */
div.box-form {
    width: 75%;
    margin: auto;
    border-radius: 20px;
}

div.input-box {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

.input-user {
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    border-bottom: 2px outset #272727d0;
    width: 100%;
    background: none;
}

fieldset {
    border: none;
}

input#botao-form {
    background-color: white;
    font-weight: bold;
    box-shadow: 3px 3px 3px #2a2a2a8c;
    float: right;
    border-radius: 30px;
    border: none;
    padding: 10px;
    transition: .7s;
}

input#botao-form:hover {
    background-color: var(--cor04);
    color: white;
    transform: scale(0.9);
}

/* ------------- rodapé da pagina -----------*/
/* RODAPÉ DA PAGINA  //  footter */
footer {
    background-color: #192136;
    color: white;
    border-top: 3px solid var(--cor04);
    padding: 5% 20px;
}

footer h2 {
    color: var(--cor04);
    margin-bottom: 10px;
}

footer div {
    margin-top: 10px;
}

footer h3 {
    color: var(--cor02);
    margin-bottom: 4px;
}

div.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.icones {
    display: flex;
    text-align: center;
    margin: 3% auto;
}

p.tegs a {
    color: #bbbbbbbb;
    text-decoration: none;
    font-weight: normal;
    transition: .5s;
}

p.tegs a:hover {
    color: var(--cor04);
}

footer img {
    width: auto;
}


/* >>>>>> estilização das imagens da pagina <<<<<<<<< */
img {
    display: block;
    width: 100%;
    margin: auto;
}



/* --------------------> RESPONSIVIDADE DA PAGINA <--------------------------- */

/*titulo principal da pagina */ 
@media screen and (max-width: 800px) {
    
    section#destaque {
        background-image: url(../imagens/imagem\ de\ fundo\ -\ gestor.jpg); 
        padding: 20% 20px 20% 20px;
    }

    section#destaque h2 {
        color: white;
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    section#destaque p {
        color: black;
        text-shadow: 3px 3px 3px #797979d0;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    .link-destaque a {
        font-size: 18px;
    }
}

/* ---- Quebra do display grid - flex  >> e titulos dos artigos -----*/
@media screen and (max-width: 800px) {
    .sobre-contato {
        display: block;
    }

    div.sobre-beneficios {
        display: block; 
    }

    div.sobre-audiencia {
        display: block; 
    }

    div.sobre-pontos {
        display: block; 
    }

    div.box-marketing {
        display: block;
    }

    div.box-marketing img {
        margin-top: 30px;
    }
    /* -------- titulo do artigo sobre marketing ----------- */ 
    article#marketing h2 {
        font-size: 2em;
    }

    article#beneficios h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    article#pontos-trafego h2 {
        font-size: 2em;
    }

    article#contato h2 {
        font-size: 2em;
    }

    /* -------- responsividade do formulário -------------- */ 
    article#contato {
        padding: 10% 20px 20% 20px;
    }


    div.box-form {
        width: 100%;
        margin: auto;
        border-radius: 20px;
    }


    /* todas as imagwna 800px */ 
    img {
        margin: 20px auto;
    }
}


/* ---- paragrafos da pagina sem justificação para melhorar a leitura -----*/
@media screen and (max-width: 500px) {
    article p {
        text-align: left;
        line-height: 1.6em;
    }
}


/* ----- responsividade do menu da pagina ---- */

@media screen and (max-width: 580px) {
    #menu>ul {
        display: none;
        background-color: #2a2a2a;
        text-align: center;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        border-bottom: 3px solid var(--cor04);
        border-top: none;
        position: absolute;
        top: 40px;
        right: 20px;
    }

    #menu>ul>li>a {
        line-height: 2.5em;
        width: 100%;
        padding: 5px 30px;
    }

    #menu:hover>ul {
        display: block;
    }

    h2#botao-menu {
        display: block;
        color: white;
        padding-right: 40px;
        transition: .8s;
    }

    h2#botao-menu:hover {
        opacity: 0.5;
        color: var(--cor04);
    }
}